<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeddingRecorder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>08C0F8F81C831F7700EE1FFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08C0F9141C831F7800EE1FFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08C0F91F1C831F7800EE1FFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
